
.flex{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5vh;
    p{
        margin-top: 1.25rem;
        color: #b5b6ba;
    }
    .img{
        width: 18vw;
        margin-right: 20px;
    }
}